<h1>
  CS4241 Group 28 Final Project Proposal
</h1>
<p>5 October 2020</p>

<p><b>Group Members:</b> Haley Hauptfeld, Ann Jicha, Matthew St. Louis</p>

<h2>General description</h2>
<p>Our project concept is to create a video chatting web application which allows users to join “bubbles” which are displayed on the page in order to represent different conversation. Users in a can only see and hear other users in the same bubble as themselves. Users can see the labeled bubbles, and click on them in order to join the conversation. Users can also add bubbles if they feel a new conversation is necessary.</p>

<h2>Users and Stakeholders</h2>
<p>Users for this application would be any group who needs to have smaller conversations in a larger group. An example would be WPI’s activities fair: a group of large students could move in and out of the various bubbles labeled with the club name and a brief description.</p>

<p>This is a substantial improvement from the current remote system, which forces users to join zoom meeting links individually from a static list on TechSync (which may or may not be set up correctly). With our system, students could log in once, and easily navigate between conversations about different clubs, as well as start their own discussion groups if they choose to (for instance, starting a conversation about what the ideal number of clubs to join is). Starting a new conversation with people that the users do not already know is next to impossible in the status quo.</p>

<p>Our stakeholders for this project would be: club executives, WPI staff, and students looking to join clubs.</p>

<h2>Front-end Programming</h2>
<p>We will be using Angular as a web framework to structure our code. We will be using Angular Material as a CSS framework to organize our design.</p>

<h2>Serverside Programming</h2>
<p>The server will be responsible for keeping track of the “bubbles” that users can jump into and out of for video chatting and for which user is in which bubble. None of us have ever implemented video chatting in JavaScript, so we are unclear on what exact tasks will need to be managed on the server side, but this is our general idea. We will also be implementing user authentication.</p>

<h2>Deliverables</h2>
<ul>
  <li>Functioning web application with full-stack implementation deployed in Heroku</li>
  <li>A video where each group member explains some aspect of the project</li>
  <li>A README file containing:</li>
  <ul>
    <li>A brief description of what we created, and a link to the project itself.</li>
    <li>Any additional instructions that might be needed to fully use our project (login information etc.)</li>
    <li>An outline of the technologies we used and how we used them</li>
    <li>What challenges we faced in completing the project</li>
    <li>What each group member was responsible for designing / developing</li>
    <li>A link to our project video</li>
  </ul>
</ul>
