<p>Welcome to Bubble! I needed a working title to create the project, and we can rename it if anyone has a preference.</p>

<h2>Bubbles</h2>
<mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
    <mat-chip class="example-box" cdkDrag *ngFor="let bubble of bubbles" (click)="addBubble(bubble.name)">
        {{bubble.name}}
    </mat-chip>
</mat-chip-list>

<form [formGroup]="newBubbleForm">
    <mat-form-field>
        <mat-label>New Bubble</mat-label>
        <input matNativeControl matInput formControlName="newBubble" />
    </mat-form-field>
    <button mat-button (click)="addBubble()" [disabled]="!newBubbleForm.get('newBubble').value">
    <mat-icon>add</mat-icon>
  </button>
</form>

<h2>Socket Tests</h2>
<button mat-button (click)="activateRTC()">Connect</button>
<button mat-flat-button (click)="debug()" color="warn">Debug</button>

<div id=”room-selection-container” class=”centered”>
    <h1>WebRTC video conference</h1>
    <label>Enter the number of the room you want to connect</label>
    <input id=”room-input” type=”text” />
    <button id=”connect-button” (click)="connectUser()">CONNECT</button>
</div>

<h2>
    Videos
    <button mat-button (click)=addTile()>
    <mat-icon>add</mat-icon>
  </button>
</h2>
<mat-grid-list [cols]="numCols">
    <mat-grid-tile *ngFor="let tile of tiles; let i = index" [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="tile.color">
        <br>

        <!-- You -->
        <div *ngIf="tile.index === 0">
            <video class="your-video" [ngClass]="{'mirror' : mirror}"></video>
        </div>

        <!-- Them -->
        <div *ngIf="tile.index !== 0">
            <video class="client-{{i}}-video"></video>
        </div>

        <mat-grid-tile-footer>
            <p>{{tile.text}}</p>
            <button *ngIf="tile.cols === 1" mat-button (click)="refocus(tile.index)">
        <mat-icon>fullscreen</mat-icon>
      </button>
            <button *ngIf="tile.cols !== 1" mat-button (click)="unfocus()">
        <mat-icon>fullscreen_exit</mat-icon>
      </button>

            <!-- You -->
            <div *ngIf="tile.index === 0">
                <button mat-button (click)="toggleAudio()">
          <mat-icon>{{audio? 'mic_off' : 'mic'}}</mat-icon>
        </button>
                <button mat-button (click)="toggleVideo()">
          <mat-icon>{{video? 'videocam_off' : 'videocam'}}</mat-icon>
        </button>
                <!-- <mat-slide-toggle [checked]="mirror">Mirror</mat-slide-toggle> -->
            </div>


            <!-- End You -->


            <div id="video-chat-container" class="video-position" style="display: none">
                <video id="local-video" autoplay="autoplay" muted="muted"></video>
                <video id="remote-video" autoplay="autoplay"></video>
            </div>

            <script src="/socket.io/socket.io.js"></script>
            <script type="text/javascript" src="client.js"></script>
        </mat-grid-tile-footer>
    </mat-grid-tile>
</mat-grid-list>