<h2 mat-dialog-title>Welcome New User!</h2>
<mat-dialog-content class="mat-typography">
  <p>
    If you would like to login via github, please select the
    login via github button. If we were to add on to our application, this would
    allow you to join with your github username.
  </p>
  <p>
    To connect your own video feed and those of other users, please select the
    “connect” button. This will populate the video feeds into the tiles below.
  </p>
  <p>
    To join an existing call, type the name of the bubble corresponding to the
    call in the “join an old bubble” and press the right arrow button. Currently, you will
    only be able to join “one”, “two”, or “three”. If we were to extend our
    application, we would implement the ability to join any of the bubbles shown
    above the text entry boxes by typing their name into the box.
  </p>
  <p>
    To create and join a new bubble, please enter the name of your new call in the
    “new bubble” box and press the plus sign.
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
